.form-group.inline {
    display: inline-flex;
}

.inline button.btn.btn-primary {
    margin: 0px 5px;
}

ul.categories,ul.models {
    list-style: none;
    display: inline-flex;
    margin: 10px 0px;
    padding: 0px;
}
.categories .btn,.models .btn{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.313rem;
    color: #212529;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.563rem 1.563rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    background-color: #eff3f6;
    border-color: #eff3f6;
    color: #060917;
    margin: 0px 5px;
}
.inline-flex {
    display: inline-flex;
}

.myicons {
    margin: 0px 5px;
}
.mg30{
    margin-top:30px;
}

.carousel {
    padding: 10px 0px;
  }
  .carousel h2 {
    margin: 0;
  }
  .carousel a {
    text-decoration: none;
    color: #fff;
  }
  .carousel img {
    aspect-ratio: 1/1;
    width: 50%;
    height: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    margin-bottom: 10px;
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 4px);
  }
  .carousel h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
  }
  .carousel span {
    color: #a7a7a7;
    font-size: 14px;
  }
  .carousel .dragging a {
    pointer-events: none;
  }
  .carousel .carousel__wrapper {
    position: relative;
    margin-bottom: 10px;
  }
  @media only screen and (min-width: 1180px) {
    .carousel .carousel__wrapper.has-arrows .carousel__content {
      justify-content: space-between;
    }
  }
  @media only screen and (min-width: 1180px) {
    .carousel .carousel__wrapper.has-arrows .carousel__arrows {
      display: flex;
    }
  }
  .carousel .carousel__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .carousel .carousel__content {
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    padding: 0;
    margin: 0;
    grid-gap: 24px;
    grid-auto-flow: column;
    list-style: none;
  }
  .carousel .carousel__content::-webkit-scrollbar {
    display: none;
  }
  .carousel .carousel__item .carousel__description {
    width: 100%;
  }
  .carousel .carousel__item a {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;
    margin: 0px 0px;
    padding: 5px;
    background: #337ab75e;
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 8px);
    cursor: pointer;
    width: 150px;
    height: 130px;
  }
  .carousel .carousel__controls {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
  }
  .carousel .carousel__arrow {
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: 0;
  }
  .carousel .carousel__arrow:before {
    content: "V";
    display: block;
    cursor: pointer;
   color:black;
   font-weight: 600;
  }
  .carousel .carousel__arrow.arrow-prev:before {
    transform: rotate(90deg);
  }
  .carousel .carousel__arrow.arrow-next:before {
    transform: rotate(-90deg);
  }
  .carousel .carousel__arrow.disabled::before {
    filter: brightness(2);
  }
  
  .counter.d-flex.align-items-center.pos-custom-qty {
    display: inline-flex;
}
input.hide-arrow {
    width: 50px !important;
    margin: 0px 5px;
    text-align: center;
}
.main-table.overflow-auto td {
    text-align: center;
}
h3.carousel__title {
    color: black;
    text-align: center;
    font-weight: 600;
}
.carousel__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carousel__item {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
  max-width: 300px; /* Adjust the maximum width as needed */
  margin: 10px;
  box-sizing: border-box;
}

.carousel__item__image {
  max-width: 100%;
  height: auto;
}

.carousel__description {
  text-align: center;
}

.carousel__title {
  font-size: 14px; /* Adjust the font size as needed */
  margin: 5px 0;
}
h2.carousel__headline {
    background: #ff7b1d;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.carousel__controls {
    right: 0;
    position: absolute;
}
button.carousel__arrow.disabled.arrow-prev,button.carousel__arrow.arrow-next {
    background: #dddddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul.carousel__content.mycategories img {
    width: 65%;
}
.myproduct a{
width: 200px !important;
height: 200px !important;
}
.myproduct img.carousel__item__image{
    width:65% !important;
}
.text-danger {
    color: #ff0500;
}
tr {
    font-size: 20px;
}
.sales .btn {
    font-size: 30px;
}
input#search,.sales select{
        height: 70px;
        font-size: 28px;
}
.add-user {
    display: inline-flex;
}
.add-user button.btn {
    border-radius: 5px;
    color: white;
    background: #337ab7;
}
.grandtotal {
    background-color: #7ec8ca;
    font-size: 1.2rem;
    font-weight: 800;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}
.grandtotal span{
    font-size: 2.2rem;
    font-weight: 800;
    color:black;
}
.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.input-group [type=text].form-control {
    height: 40px;
}


.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    flex: 1 1 auto;
    margin-bottom: 0;
    position: relative;
    width: 1%;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #10b981;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid {
    background-position: right calc(0.375em + 0.1875rem) center;
}
.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-text {
    align-items: center;
    background-color: #e5e7eb;
    border: 1px solid #9ca3af;
    border-radius: 0.25rem;
    color: #374151;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 0.375rem 0.75rem;
    text-align: center;
    white-space: nowrap;
}
.footer_panel {
    position: fixed;
    bottom: 20px;
    margin-right: 10px;
}
/* Calculator */
.calculator .control{
	display: flex;
	justify-content: flex-end;
}
.calculator .control .box{
	width: 60px;
	height: 15px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
}
body.active1 .control .box{
	background-color: var(--twotkbg);
}
body.active2 .control #circle{
	background-color: hsl(176, 100%, 44%);
}
.control #circle{
	width: 15px;
	height: 15px;
	background-color: hsl(6, 63%, 50%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 30px;
}
body.active1 .control #circle{
	background-color: hsl(25, 98%, 40%);
}
.control p{
	color: #FFF;
	cursor: pointer;
	margin-right: 4px;
}
body.active1 .control p{
	color: #111;
}
body.active1 .right p{
	color: #111;
}
body.active2 .control p{
	color: hsl(52, 100%, 62%);
}
body.active2 .right p{
	color: hsl(52, 100%, 62%);
}
.screen{
	width: 500px;
}
.calculator #screen{
	width: 100%;
	height: 100px;
	margin: 10px 0;
	text-align: right;
	font-size: 32px;
	background-color: hsl(224, 36%, 15%);
	color: #FFF;
	border: 0;
	outline: none;
	border-radius: 7px;
}
.calculator body.active1 #screen{
	background-color: hsl(0, 0%, 93%);
	color: #111;
}
.calculator body.active2 #screen{
	background-color: var(--tbgkbgsbg);
	color: hsl(52, 100%, 62%);
}
.calculator button{
	width: 90px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
    margin: 10px 10px;
    font-size: 32px;
}
.calculator body.active1 button{
	box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
}
.calculator body.active2 button{
	box-shadow: 0px 3px 0px 0px hsl(268, 47%, 21%);
	background-color: hsl(290, 70%, 36%);
	color: hsl(52, 100%, 62%);
}
.calculator .btn{
	display: flex;
	width: 500px;
	flex-flow: wrap;
	background-color: hsl(224, 36%, 15%);
	padding: 10px 5px;
	margin: 8px 0;
	border-radius: 7px;
}
.calculator body.active2 .btn{
	background-color: var(--tbgkbgsbg);
}
.calculator .reset,.calculator .del{
	box-shadow: 0px 3px 0px 0px hsl(224, 28%, 35%);
	background-color: hsl(225, 21%, 49%);
	color: #FFF;
	font-size: 16px;
}
.calculator body.active1 .reset, .calculator body.active1 .del{
	box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
	background-color: hsl(185, 42%, 37%);
}
.calculator body.active2 .reset, .calculator body.active2 .del{
	box-shadow: 0px 3px 0px 0px hsl(290, 70%, 36%);
	background-color: hsl(268, 47%, 21%);
	color: #fff;
}
.calculator .reset,.calculator .equal{
	width: 200px;
	color: #FFF;
	font-size: 16px;
}
.calculator .equal{
	box-shadow: 0px 3px 0px 0px hsl(6, 70%, 34%);
	background-color: hsl(6, 63%, 50%);
}
.calculator body.active1 .equal{
	box-shadow: 0px 3px 0px 0px hsl(25, 99%, 27%);
	background-color: hsl(25, 98%, 40%);
}
.calculator body.active2 .equal{
	box-shadow: 0px 3px 0px 0px hsl(177, 92%, 70%);
	background-color: hsl(176, 100%, 44%);
	color: #fff;
}
.calculator {
    position: absolute;
    top: 0;
    left: 40%;
}
.calculator{
    display:none;
}
.show{
    display: block;
}
.mycategories a{
height: auto !important;
}
.mycategories h3.carousel__title{
    font-size: 24px;
    padding: 10px;
}
table .btn {
    line-height: 0.428571;
}
.mycategories li.carousel__item {
    height: auto;
    margin: 0px;
}
tbody.border-0 {
    overflow-y: scroll;
    max-height: 430px !important;

}
.sales .footer_panel .btn {
  font-size: 18px;
  width: 115%;
}
.mycategories .carousel__item a{
  width: 100%;
}
/* End Calculator */
